<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather @ Globe</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <div class="container">
      {{>header}}
      <div class="content home">
        <h1 >Check weather around the Globe</h1>
        <div class="form">
          <input class="input" type="text" placeholder="Just enter an address" />
          <button class="btn" type="button">Go</button>
        </div>
        <p class="newdata"></p>
      </div>
      {{>footer}}
    </div>
  </body>
  <script src="/js/script.js"></script>

</html>